<div class="container">

  <% @users.each do |f| %>

  <div class="user_tag col-md-6 clearfix">
    <div class="row top-row clearfix">
      <div class="profile_picture col-md-3 clearfix">
        <img src=" <%= f.picture %>" alt="" />
      </div>
      <div class="top-info col-md-3">
        <div class="user_name">
          <h4><%= f.name %></h4>
        </div>
        <div class="bio">
          <p><%= f.bio %></p>
        </div>
      </div>
    </div>
    <div class="row bot-row clearfix">
      <div class="col-md-2 clearfix">
        <p class="count"><%= f.comments.count %></p>
        <p>Comments</p>
      </div>
      <div class="col-md-2 clearfix">
        <p class="count"><%= f.followers.count %></p>
        <p>Followers</p>
      </div>
      <div class="col-md-2 clearfix">
        <button type="button" name="button">Follow</button>
      </div>
    </div>
  </div>
  <% end %>
</div>
